
  <div>
    <label for="name">Your name:</label><input id="name" type="text" #name>
    <button (click)="generateCard(name.value)">Save</button>

    <div *ngIf="generated()">
      Thanks for register your card is : {{generated() | json}}
    </div>
  </div>

  <div *ngFor="let item of cards()" class="card">
    <span>{{item.id}}</span>
    {{item.holder}}
    <span>Card Code: {{item.code}}</span>
    <span>Valid: {{item.validDate}}</span>
    <button (click)="updateCard(item.id)">Update</button>
    <button (click)="deleteCard(item.id)">delete</button>

  </div>
